.navbar{
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: #2C3D8F;
    padding: auto;
    box-shadow: 1px 1px 5px 5px #a8b1ce7b;
}

.navbar ul{
    display: flex;
    flex-direction: column;
    padding: 0rem 1.2rem;
}
.navbar li{
    list-style: none;
    font-size: large;
    font-weight: 400;
    margin: 0.2rem auto;
    padding: 0.4rem 1.5rem;
    border-radius: 3rem;
}

.navbar li:hover{
    background-color: #a8b1ce7b;
}

.navbar a{
    text-decoration: none;
    font-size: larger;
    color: white;
}

.navbar h2{
    color: white;
    margin: 0 auto;
    padding-bottom: 0.5rem;
}

.navbar img{
    width: 9rem;
    margin-top: 1.2rem;
}
.logo{
    margin: 1.2rem auto;
}

/* Navbar Small */

.navbar-small{
    display: flex;
    justify-content: space-between;
    background-color: #2C3D8F;
    padding: 0.5rem 4rem;
    margin-bottom: 2rem;
}
.navbar-small ul{
    display: flex;
    gap: 2rem;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}
.navbar-small ul a{
    text-decoration: none;
    color: white;
    font-size: large;
}
.buttons{
    display: flex;
    gap: 8rem;
    margin: 0 30%;
    margin-bottom: 4rem;
}
.buttons button{
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    color: white;
    border: #2C3D8F 2px solid;
    z-index: 5;
}
.buttons a{
    color: transparent;
    display: block;
    width: 2rem;
    height: 2rem;
}
.active{
    background-color: #2C3D8F;
}
#hr{
    position: absolute;
    border: #2C3D8F 2px solid;
    width: 40rem;
    margin: 14px 31%;
    z-index: 2;
}