<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/login-signup.css') }}">
</head>

<body>

  <!-- Add this block for styling flashed messages and the remove button -->
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="flashes-container">
    {% for category, message in messages %}
    <div class="flash {{ category }}">
      <span>{{ message }}</span>
      <button class="remove-flash" onclick="removeFlashMessage(this)">&times;</button>
    </div>
    {% endfor %}
  </div>
  <script>
    // Auto-remove flashed messages after 5 seconds (adjust the timeout as needed)
    setTimeout(function () {
      var flashes = document.querySelectorAll('.flashes-container .flash');
      flashes.forEach(function (flash) {
        flash.classList.add('fade-out');
        setTimeout(function () {
          flash.style.display = 'none';
        }, 400); // adjust the timeout to match the transition duration
      });
    }, 4000);

    function removeFlashMessage(button) {
      var flash = button.parentElement;
      flash.classList.add('fade-out');
      setTimeout(function () {
        flash.style.display = 'none';
      }, 400); // adjust the timeout to match the transition duration
    }
  </script>
  {% endif %}
  {% endwith %}

  <div class='containers'>
    <div class='container1'>
      <div class='head1'>
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt='ism'>
      </div>
      <div class='head1text'>Management Information System</div>
    </div>
    <div class='container2'>
      <div class="subclass">
        <div class="header">
          <div class="htext">Login</div>
        </div>
        <form id="loginForm" action="/login" method="post">
          <div class="inputs">
            <div class="input">
              <input type="text" placeholder='username' name="username" id="username">
            </div>
            <div class="input">
              <input type="password" placeholder='password' name="password" id="password">
            </div>
            <input type="hidden" name="redirect_to" id="redirect_to" value="/">
          </div>
          <button class="submit" type="submit">
            Sign in
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
<script>
  function getQueryParam(param) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(param);
  }

  const redirect_field = document.getElementById('redirect_to');
  const redirect_to = getQueryParam('rd');
  if (redirect_to) {
    redirect_field.value = redirect_to;
  }
</script>

</html>