<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <h2>Login</h2>
  <form action="/login" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <br />
    <input type="hidden" id="redirect_to" name="redirect_to" value="/"/>
    <button type="submit">Login</button>
  </form>
</body>

<script>
  function getQueryParam(param) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(param);
  }

  const redirect_field = document.getElementById('redirect_to');
  const redirect_to = getQueryParam('rd');
  if (redirect_to) {
    redirect_field.value = redirect_to;
  }
</script>

</html>